[Desktop Entry]
Type=Application
Name=Waydroid (Force)
Exec=/usr/bin/waydroird-forcestarrt
Icon=waydroid
Categories=X-WayDroid-App;
X-Purism-FormFactor=Workstation;Mobile;

