[Desktop Entry]
Type=Application
Name=Waydroid Force Start
Exec=/usr/bin/waydroid-forcestart
Icon=waydroid
Categories=X-WayDroid-App;
X-Purism-FormFactor=Workstation;Mobile;
